:root {
    --main-color: #0284c7;
    --bg-color: #f1f5f9;
    --text-color: rgb(0,0,0);
    --text-secondary: rgb(66,66,66);
}

body {
    background-color: #e2e8f0;
    padding:0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    /* text-shadow: 1px 1px 0px rgba(0,0,0,.75); */
}

.show-notif:hover,
.header > img:hover,
.sb-hover,
.sidebar a:only-of-type :hover {
    scale: 1.035;
    text-shadow: 1px 1px 0px rgb(0,0,0);
}

.invert {
    filter:invert();
}

.hidden {
    opacity: 0;
}

.avatar {
    border-radius: 50%;
    display: inline-block;
}

.container {
    display: grid;
    grid-template-rows: 90px 105px 1200px ;
    grid-template-columns: 230px 7.5fr;
    /* grid-template-columns: 20px 20px; */
}

/* CONTENT CONTENT CONTENT */

.content {
    grid-area: 3 / 2 / 3 / 2;
    display: grid;
    grid-template-columns:4fr 1fr;
    grid-template-rows: 1fr 2fr;
    /* grid-template-rows: repeat(auto-fit, minmax(10vh, 1fr)); */
    padding: 30px;
    gap: 30px;
    /* height: 90vh; */
}

.content-title {
    font-weight: 600;
    font-size: 1.2rem;
}

/* TRENDING */

.trending-projects {
    background-color: rgb(255,255,255);
    background-color: rgb(255,255,255);
    border-radius: .5rem;
    /* border-left: .5rem solid #fce366 ; */
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.trending {
    grid-area: 2 / 2 / 2 / 2;
    overflow: hidden;
}

.t-profile {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
}

.profile-links {
    display:flex;
    flex-direction: column;
    gap: .25rem;
}

.profile-links a {
    text-decoration: none;
    color: rgb(0,0,0);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 28ch;
    white-space: nowrap;
    transition: all 0.1s;
}

.profile-links :first-child:hover {
    padding-left: 2px;
    letter-spacing: .068em;
}
.profile-links :first-child {
    font-weight: 600;
}
.profile-links :nth-child(2):hover {
    padding-left: 2px;
    letter-spacing: .03em;
}

.t-profile .avatar {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    /* flex: 1; */
    display: grid;
    place-items:center;
    outline: 1px solid rgba(158, 158, 158, 0.5) ;
    transition: all 0.15s;
    cursor: pointer;
}

.t-profile .avatar:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.75) ;
    /* scale: 1.02; */
}

.t-profile .avatar > img {
    /* filter:invert(); */
    /* filter: contrast(70%); */
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}

/* ANNOUNCEMENTS */

.announcements {
    grid-area: 1 / 2 / 1 / 2;
}

.announce-container {
    background-color: rgb(255,255,255);
    background-color: rgb(255,255,255);
    border-radius: .5rem;
    /* border-left: .5rem solid #fce366 ; */
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    padding: 20px 25px;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    /* gap: 5px; */
}

.announce-container hr {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.announcement a {
    text-decoration: none;
    color:rgb(0,0,0);
    font-weight: 600;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 28ch;
    white-space: nowrap;
}

.announcement p {
    color: rgb(77,77,77);
    font-size: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 70ch; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* white-space: nowrap; */
}

/* PROJECTS */

.projects {
    grid-area: 1 / 1 / span 2 / 1;
    padding: 0;
    margin: 0;
}

.project-container {
    display:grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(3,340px) ;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows:repeat( auto-fit, minmax(100px, 1fr) ); */
    /* grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) ); */
    gap: 30px;
    margin: 0;
    padding: 0;
}

.project {
    background-color: rgb(255,255,255);
    border-radius: .5rem;
    border-left: .5rem solid #0284c7 ;
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    padding: 25px 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.12s ease-in-out;
}

.project:hover {
    border-left: clamp(.5rem,.8vw,.82rem) solid #0d92d4 ;
    box-shadow: 3px 3px 10px rgba(78, 78, 78, 0.435);
    cursor: pointer;
}

.project p:nth-of-type(2) {
    color: rgb(77,77,77);
    margin:0;
    padding:0;
    font-size: clamp(12px,1vw,1rem) 
}

.project-title {
    font-weight: 700;
    font-size: clamp(16px,2vw,1.5rem) ;
    color:rgb(0,0,0);
    padding: 0;
    margin: 0;
}

.project > img {
    width: 100%;
    border: none;
    outline: none;
    height: 25%;
    border-radius: 5px;
    /* background-color: #f2dd6e; */
    /* background-image: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%); */
    /* background-color: #c2eaba;
background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%); */
background-color: #bacdea;
background-image: linear-gradient(319deg, #bad7ea 0%, #c5f1f4 37%, #c2ceef 100%);

}

.project-icons {
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
    height: clamp(25px, 3%,3%);
    gap: clamp(10px,5%,20px) ;
    cursor: pointer;
    z-index: 2;
}

.project-icons * {
    transition: all 0.2s;
}

.project-icons *:hover {
    scale: 1.33;
}

.projects,
.announcements,
.trending {
    display:flex;
    flex-direction: column;
}

/* TOP MENU TOP MENU TOP MENU */

.top_menu {
    background-color: var(--bg-color);
    grid-area: 2 / 2 / 2 / 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding: 10px 50px 20px 50px;
    gap: 20px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, .3) ;
    z-index: 2;
}

.menu-greeting {
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 2;
}

.greeting :nth-child(1) {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
}

.greeting :nth-child(2) {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0;
}

.menu-greeting .avatar {
    background-color: #fde047;
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    /* flex: 1; */
    display: grid;
    place-items:center;
    outline: 1px solid rgba(166,166,55,.75) ;
    transition: all 0.15s;
    cursor: pointer;
}

.menu-greeting .avatar:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.75) ;
    /* scale: 1.02; */
    background-color: #fce471;
}

.menu-greeting .avatar > img {
    filter:invert();
    filter: contrast(70%);
    min-width: 55px;
    min-height: 55px;
    max-width: 55px;
    max-height: 55px;
}

.menu-buttons {
    display:flex;
    gap: 2rem;
    /* gap: clamp(15px,2vw,50%); */
    /* flex: 1; */
}

.menu-buttons > button {
    background-color: var(--main-color);
    color: rgb(255,255,255);
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    padding: .75em 2em;
    border-radius: 3em;
    transition: all 0.12s;
    box-shadow: 0 0 2px rgba(0,0,0,.65) ;
}

.menu-buttons > button:hover {
    scale: 1.032;
    box-shadow: 0 0 3px rgba(0,0,0,.25) ;
    background-color: #1295d6;
}

/* HEADER HEADER HEADER */

.header {
    background-color: var(--bg-color);
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0; */
    margin: 0;
    gap: 25px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.12s;
    z-index: 3;
}

.header > form:nth-of-type(1) {
    flex: 4;
}

.header form:nth-of-type(2) {
    flex: 1;
}

.header > form > input:hover {
    box-shadow: 0 0 2px rgba(0,0,0,.35);
}

.header > form > input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,.65);
}

.search {
    background-color: #e2e8f0;
    border: none;
    outline: none;
    color: rgb(0,0,0);
    width: 80%;
    /* width: clamp(150px,80%,80%)  ;  */
    min-width: 150px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
}

.search-p {
    background-color: #e2e8f0;
    border: none;
    outline: none;
    color: rgb(0,0,0);
    width: 100%;
    min-width: 150px;
    /* width: clamp(150px,40%,40%)  ;  */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
}

.header .avatar {
    background-color: #fde047;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    /* flex: 1; */
    display: grid;
    place-items:center;
    outline: 1px solid rgba(166,166,55,.5) ;
    transition: all 0.15s;
    cursor: pointer;
}

.header .avatar:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.75) ;
    /* scale: 1.02; */
    background-color: #fce471;
}

.header .avatar > img {
    filter:invert();
    filter: contrast(70%);
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}

.notif {
    display:flex;
    justify-content: center;
    /* align-items: center; */
}

.notif > img,
.header > img {
    /* flex: 1; */
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.notif > p {
	position: fixed;
	max-width: 30em;
	background-color: #fff;
	padding: 1rem 1rem;
	font-size: 1rem;
	border-radius: 1rem;
    box-shadow:	0 0.1rem 0.25rem rgba(0, 0, 0, .3), 0 0.05rem 0.1rem rgba(0, 0, 0, .2);
    white-space: nowrap;
    margin-top: 50px;
    transition: all 0.15s;
}

.notif > p::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 43%;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.05rem 0.05rem rgba(0, 0, 0, .1));
}

/* SIDEBAR SIDEBAR SIDEBAR */

.sidebar {
    background-color: var(--main-color);
    grid-area: 1 / 1 / span 3 / 1;
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebar * {
    color: rgb(255,255,255);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .06rem ;
    padding: 0 5px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: all 0.1s;
}

.sb_dashboard {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    /* margin-top: 25px; */
    /* transition: all 0.15s; */
}

.sb_dashboard > img {
    width: 40px;
    filter:invert();
    margin-bottom: 0;
    margin-top: 15px;
    /* margin-right: 5px; */
    cursor: pointer;
}

.sb_dashboard > a {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 15px;
}

.sb_buttons > div {
    /* margin-left: 20px; */
    display:flex;
    align-items: center;
    cursor: pointer;
}

.sb_buttons > hr {
 border: 0;
 height: 1px;
 background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
}

.sb-icon {
    width: 25px;
    filter:invert();
    margin-right: 5px;
    cursor: pointer;
    /* height: 20px; */
}